@{
    ViewData["Title"] = "Accceso Denegado";
}

<div class="text-center">
    <h1 class="display-4">Accceso Denegado</h1>
    <p>El usuario no cuenta con el rol requerido para ingresar a la sección</a>.</p>
</div>
