@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Web que se encarga del control de usuarios construido con ASP.NET Core</a>.</p>
    </br>
    <p>Basado en el GitHub: <a href="https://github.com/referbruv/cookie-authentication-example-aspnetcore">Link de acceso</a></p>
</div>
